<h1>Listing follows</h1>

<table class="table table-striped table-hover">
  <tr>
    <th>User</th>
    <th>Followee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @follows.each do |follow| %>
  <tr>
    <td><%= follow.user.name%></td>
    <td><%= follow.follower.name %></td>
    <td><%= link_to 'Show', follow, class: 'btn btn-primary' %></td>
    <td><%= link_to 'Edit', edit_follow_path(follow), class: 'btn btn-warning' %></td>
    <td><%= link_to 'Destroy', follow, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>




  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Follow', new_follow_path, class: 'btn' %>
